.env
.env.localstack
.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
.secrets.baseline
.streamlit/*
!.streamlit/config.toml
.venv
**/__pycache__
**/*.pyc
evals/results
terraform.tfstate
terraform.tfstate.*
**/.terraform
infra/terraform/backend.hcl
infra/terraform/terraform.tfvars
infra/localstack/volume
infra/localstack/terraform/localstack.tfplan
**/node_modules
**/.next
**/.env*
**/*.tsbuildinfo
